#intro {
  margin: 7% 0 0 0;
  text-align: center;
  font-size: 2.75rem;
  line-height: 1;
  span {
    font-size: 2rem;
    color: #9B9B9B;
  }
}

.portfolio-item {
  margin-bottom: 25px;
}

.thumbnail {
  background-color: #F8F9FA;
}

.buttons {
  color: #969696;
}

a {
  text-decoration: none;
  color: #3A393A;
}

a:hover {
  text-decoration: none;
  color: #969696;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 5px;
  text-align: left;
  border-bottom: 1px solid #969696
}

span.likes {
  margin-left: 10px;
}

img {
  width: 800px;
  height: 500px;
}


